.footer-block {
  background-color: #0d113d;
  color: #fff;
}
.register-block {
  padding-top: 35px;
  padding-bottom: 35px;
  background-color: #753d9d;
  color: #fff;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  div {
    margin-bottom: 10px;
  }
  .register-article {
    h4, p {
      color: #fff;
    }
  }
  .input-text-holder {
    color: #e0c2f6;
    min-width: 458px;
    min-height: 56px;
    border: 2px solid #e0c2f6;
    border-radius: 4px;
    font-size: 15px;
    padding: 0 30px;
    background: transparent;
    &:focus {
      color: white;
      border-color: #fff;
      outline: none;
    }
    &:-webkit-input-placeholder {
      color: #e0c2f6;
    }
  }

  .bordered-btn {
    margin: 0 auto;
    min-width: 208px;
    padding-left: 56px;
    min-height: 56px;
    font-size: 16px;
  }
}


.footer-nav {
  padding: 70px 0;
  border-bottom: 1px solid #a2a2a2;
  img {
    margin-bottom: 45px;
  }
  li {
    margin-bottom: 25px;
    display: block;
  }
  p {
    color: #fff;
  }
  .footerNav1, .footerNav2 {
    border-right: 1px solid #a2a2a2;
  }
}


.copyright-block {
  padding: 37px 0;
  p {
    color: #b3b5d1;
  }
  .social {
    padding: 0;
    li {
      margin-right: 30px;
      &:last-child {
        margin-right: 0;
      }
    }
  }
}

