
.bordered-btn {
  min-width: 262px;
  /*padding-left: 18px;*/
  padding-top: 10px;
  border: 2px solid transparent;
  border-radius: 3px;
  color: #fff;
  font-size: 18px;
  font-weight: 400;
  min-height: 65px;
  margin-top: 55px;
  margin-right: 15px;
  margin-left: 15px;
  line-height: 2.2;
  transition: all ease-in-out 0.3s;
}
.bordered-btn.btn-white {
  border-color: #fff;
}
.bordered-btn.btn-white:hover {
  background-color: #753d9d;
  border-color: #753d9d;
  color: #fff;
}
.bordered-btn.btn-dark {
  background-color: #fff;
  border-color: #0d113d;
  color: #0d113d;
  margin-bottom: 10px;
  text-align: center;
}
.bordered-btn.btn-dark:hover {
  background-color: #753d9d;
  border-color: #753d9d;
  color: #fff;
  margin-bottom: 10px;
}
.bordered-btn.btn-magenta {
  background-color: #753d9d;
  border-color: #753d9d;
  color: #fff;
  /*margin-bottom: 10px;*/
}
.bordered-btn.btn-magenta:hover {
  border-color: #fff;
}
.bordered-btn.btn-magenta-reverse {
  background-color: #753d9d;
  border-color: #fff;
  color: #fff;
}
.bordered-btn.btn-magenta-reverse:hover {
  background-color: #fff;
  color: #753d9d;
}
.btn-holder {
  margin: 0 auto;
}

