
@media screen and (max-width:1170px){
  .header-slider {
    display: none;}
  .article-top {
    background: url(assets/img/header-picture-1.jpg ) no-repeat 50%/cover;
  }
}

@media screen and (max-width:640px) {
  h1 {
    font-size: 26px;
  }
  .bordered-btn {
    margin-top: 25px;
    font-size: 15px;
  }
  .mobile-first {
    padding-top: 30px;
    font-size: 20px;
  }
  .register-block .bordered-btn {
    float: none ;
  }
}